In [1]:
import pandas as pd
import glob

In [18]:
league_name = 'la_liga'

In [19]:
# read the files
filelist = glob.glob('data/' + league_name + '/individual/*.csv')

dfs_individual = []
for f in filelist:
    print(f)
    temp = pd.read_csv(f, keep_default_na=True)
    dfs_individual.append(temp)


common_cols = list(set.intersection(*(set(df.columns) for df in dfs_individual)))
print("Num cols = ", len(common_cols))
concatenated_df = pd.concat((df[common_cols] for df in dfs_individual), axis=0, ignore_index=True, join='inner')

data/la_liga/individual/2005-06.csv
data/la_liga/individual/2009-10.csv
data/la_liga/individual/2001-02.csv
data/la_liga/individual/2004-05.csv
data/la_liga/individual/2014-15.csv
data/la_liga/individual/2016-17.csv
data/la_liga/individual/2003-04.csv
data/la_liga/individual/2007-08.csv
data/la_liga/individual/2008-09.csv
data/la_liga/individual/2015-16.csv
data/la_liga/individual/2010-11.csv
data/la_liga/individual/2011-12.csv
data/la_liga/individual/2017-18.csv
data/la_liga/individual/2002-03.csv
data/la_liga/individual/2012-13.csv
data/la_liga/individual/2006-07.csv
data/la_liga/individual/2013-14.csv
Num cols =  19

In [20]:
concatenated_df.to_csv('data/' + league_name + '/concat.csv')

In [21]:
display(concatenated_df.head())

,HTAG,Date,WHH,FTHG,WHA,IWA,LBD,AwayTeam,IWD,HTHG,WHD,FTR,FTAG,Div,IWH,HTR,LBH,LBA,HomeTeam
0,0,27/08/05,6.00,0,1.50,1.5,3.60,Barcelona,3.5,0,3.4,D,0,SP1,5.4,D,6.50,1.44,Alaves
1,0,27/08/05,1.90,3,3.75,3.6,3.20,Sociedad,3.0,0,3.0,H,0,SP1,1.9,D,1.91,3.50,Ath Bilbao
2,0,27/08/05,1.95,1,3.50,3.6,3.20,Betis,3.0,0,3.1,H,0,SP1,1.9,D,1.91,3.50,Valencia
3,0,28/08/05,1.70,0,4.50,4.4,3.25,Zaragoza,3.1,0,3.2,D,0,SP1,1.7,D,1.67,4.50,Ath Madrid
4,1,28/08/05,6.50,1,1.44,1.5,4.00,Real Madrid,3.5,0,3.6,A,2,SP1,5.4,A,6.50,1.40,Cadiz